# File e directory generate dalla build
.gradle/
build/
local.properties
.cxx/
app/.cxx/

# File dell'SDK Android
*.iml
.DS_Store

# Chiavi e segreti - NON committare mai questi file
local.properties

# File di Android Studio
.idea/
*.iws
*.iml
captures/

# Others
.docgen-agent